.contact {
    margin: 60px;
}

.contact-github {
 display: flex;
}

#github-icon {
    border: 2px solid #050204;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}


.contact-blog {
    display: flex;
}

#blog-icon {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border: 2px solid #050204;
    border-radius: 10px;
}
#blog-icon:hover #github-icon {
    border: 2px solid #FB525C;
}

#github-icon:hover #github-icon {
    border: 2px solid #FB525C;
}