.guestbook-list {
    margin: 15px auto;  /* guestbook-list의 division이 겹쳐져서 간격을 띄어줌 */
    padding-bottom: 0px;
}

.list-name {
    margin-top: -12px;
    margin-bottom: -12px;
    line-height: normal;
}

.list-contents {
    line-height: 25px; /* 행간 설정 */
}

.list-date {
    text-align: right;
    color: #616161;
    margin-bottom: -15px;
}