@import url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2);

body {
  margin: 0;
  background-color: #F8F0EE;
  color: #050204;
  font-family: 'SUITE-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

